h3,
p {
  color: #454d55;
}

html,
#root {
  background-color: #faf4e2;
}

.merriweather {
  font-family: Merriweather, serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.nav-title {
  font-family: "Grand Hotel", sans-serif;
  font-size: 32px;
  text-decoration: none;
  padding-right: 2rem;
}

.search-green {
  background-color: #779f7d;
}

.btn-success {
  background-color: #2e7d3280;
  border: none;
}

.no-outline {
  border: none;
}

.search-hide {
  display: none;
}

.image-size {
  height: 192px;
  object-fit: cover;
}

.card-width {
  width: 21.875rem;
}

.gold {
  color: #e0a800;
}

@media screen and (min-width: 768px) {
  .search-hide {
    display: flex;
  }
}

@media screen and (min-width: 992px) {
  .image-size {
    height: 261px;
  }

  .card-width {
    width: 26.188rem;
  }
}
