h3,
h2,
p {
  color: #454d55;
}

html,
#root {
  background-color: #faf4e2;
}

.merriweather {
  font-family: Merriweather, serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.nav-title {
  font-family: "Grand Hotel", sans-serif;
  font-size: 32px;
  text-decoration: none;
}

.search-green {
  background-color: #779f7d;
}

.btn-success {
  background-color: #2e7d3280;
  color: #ffff;
  border: none;
}

.btn-success:hover {
  background-color: #2e7d32b8;
}

.form-control:focus {
  border-color: #2e7d32b8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #2e7d32b8;
}

.nav-search:hover {
  background-color: #2e7d32b8;
  color: white;
  border-color: #2e7d32b8;
}

.search-hide {
  display: none;
}

.image-size {
  height: 192px;
  object-fit: cover;
}

.card-width,
.home-card {
  width: 21.875rem;
}

.gold {
  color: #e0a800;
}

.google-map {
  height: 40vh;
}

.go-back {
  color: #17a2b8;
  font-size: 0.8rem;
}

.go-back:hover {
  cursor: pointer;
  color: #117c8d;
  text-align: right;
}

@media screen and (min-width: 768px) {
  .go-back {
    font-size: 1.25rem;
  }

  .search-hide {
    display: flex;
  }

  .google-map {
    height: 55vh;
  }

  .info-window {
    font-size: 1rem;
  }

  .info-title {
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 992px) {
  .image-size {
    height: 261px;
  }

  .card-width {
    width: 26.188rem;
  }
}
