h3 {
  color: #454d55;
}

html,
#root {
  background-color: #faf4e2;
}

.merriweather {
  font-family: Merriweather, serif;
}

.nav-title {
  font-family: "Grand Hotel", sans-serif;
  font-size: 32px;
  text-decoration: none;
  padding-right: 2rem;
}

.search-green {
  background-color: #779f7d;
}

.btn-success {
  background-color: #2e7d3280;
  border: none;
}

.no-outline {
  border: none;
}

.search-hide {
  display: none;
}

@media screen and (min-width: 768px) {
  .search-hide {
    display: flex;
  }
}
